# Required: Will add support for other providers.
OPENAI_API_KEY=OPENAI-API-KEY-PLACEHOLDER

# Default URL for the HAPI FHIR server
FHIR_SERVER_URL=http://localhost:7070/fhir

# Default embedding model
EMBED_MODEL=text-embedding-3-large

# [OPTIONAL]
# LangSmith config
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=LANGSMITH-API-KEY-PLACEHOLDER
LANGSMITH_PROJECT=LANGSMITH-PROJECT-PLACEHOLDER